
<div class="tab">
  <button (click)="ShowTab('Ultra Marathon')" class="tablinks" >Ultra Marathons</button>
  <button (click)="howmany('Ultra Marathon')" class="tablinks" >?</button>
  <button (click)="ShowTab('Marathon')" class="tablinks" >Marathons</button>
  <button (click)="howmany('Marathon')" class="tablinks">?</button>
  <button (click)="ShowTab('Virtual Marathon')" class="tablinks" >Virtual Marathons</button>
  <button (click)="howmany('Virtual Marathon')" class="tablinks">?</button>
  <button (click)="ShowTab('Half Marathon')" class="tablinks" >Half Marathons</button>
  <button (click)="howmany('Half Marathon')" class="tablinks" >?</button>
</div>

<DIV id="UltraMarathons">
<h2>Ultra Marathons</h2>
<table border=1>
<TR style='font-weight: bold' >
  <TD >Race Name</TD>
  <TD>PR Time</TD>
  <TD>Times Ran</TD>
  <TD style="align:left">Comment</TD>
</TR> 
<ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.racetype=='Ultra Marathon'"> 
<TR   >
  <TD >{{ race.name }} {{ race.racetype }} </TD>
  <TD>{{ race.PR }}</TD>
  <TD align="center">{{ race.count }} </TD>
  <TD align="center">{{ race.comment }} </TD>
</TR>
</ng-container>
</ng-container>
</table>
<!-- <button (click)="howmany('Ultra Marathon')"> How Many? </button> -->
</DIV>

<DIV id="Marathons">
<h2>Marathons</h2>
<table border=1>
<TR style='font-weight: bold' >
  <TD >Race Name</TD>
  <TD>PR Time</TD>
  <TD>Times Ran</TD>
  <TD style="align:left">Comment</TD>
</TR> 
<ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.racetype=='Marathon'"> 
<TR   >
  <TD >{{ race.name }} {{ race.racetype }} </TD>
  <TD>{{ race.PR }}</TD>
  <TD align="center">{{ race.count }} </TD>
  <TD align="center">{{ race.comment }} </TD>
</TR>
</ng-container>
</ng-container>
</table>
<!-- <button (click)="howmany('Marathon')"> How Many? </button> -->
</DIV>

<DIV id="VirtualMarathons">
<h2>Virtual Marathons</h2>
<table border=1>
<TR style='font-weight: bold' >
  <TD >Race Name</TD>
  <TD>PR Time</TD>
  <TD>Times Ran</TD>
  <TD style="align:left">Comment</TD>
</TR> 
<ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.racetype=='Virtual Marathon'"> 
<TR   >
  <TD >{{ race.name }} {{ race.racetype }} </TD>
  <TD>{{ race.PR }}</TD>
  <TD align="center">{{ race.count }} </TD>
  <TD align="center">{{ race.comment }} </TD>
</TR>
</ng-container>
</ng-container>
</table>
<!-- <button (click)="howmany('Marathon')"> How Many? </button> -->
</DIV>
<DIV id="HalfMarathons">
<h2>Half Marathons</h2>
<table border=1>
<TR style='font-weight: bold' >
  <TD >Race Name</TD>
  <TD>PR Time</TD>
  <TD style="align:center">Times Ran</TD>
  <TD style="align:left">Comment</TD>
</TR> 
<ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.racetype=='Half Marathon'"> 
<TR>
  <TD>{{ race.name}} {{ race.racetype }}  </TD>
  <TD>{{ race.PR }}</TD>
  <TD align="center">{{ race.count }} </TD>
  <TD align="center">{{ race.comment }} </TD>
</TR>
</ng-container>
</ng-container>
</table>
<!-- <button (click)="howmany('Half Marathon')"> How Many? </button> -->
<DIV>

