
<h2>Ultra Marathons</h2>
<table border=1>
<TR style='font-weight: bold' >
  <TD >Race Name</TD>
  <TD>PR Time</TD>
  <TD>Times Ran</TD>
  <TD style="align:left">Comment</TD>
</TR> 
<ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.racetype=='Ultra Marathon'"> 
<TR   >
  <TD >{{ race.name }} {{ race.racetype }} </TD>
  <TD>{{ race.PR }}</TD>
  <TD align="center">{{ race.count }} </TD>
  <TD align="center">{{ race.comment }} </TD>
</TR>
</ng-container>
</ng-container>
</table>
<button (click)="howmany('Ultra Marathon')"> How Many? </button>

<h2>Marathons</h2>
<table border=1>
<TR style='font-weight: bold' >
  <TD >Race Name</TD>
  <TD>PR Time</TD>
  <TD>Times Ran</TD>
  <TD style="align:left">Comment</TD>
</TR> 
<ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.racetype=='Marathon'"> 
<TR   >
  <TD >{{ race.name }} {{ race.racetype }} </TD>
  <TD>{{ race.PR }}</TD>
  <TD align="center">{{ race.count }} </TD>
  <TD align="center">{{ race.comment }} </TD>
</TR>
</ng-container>
</ng-container>
</table>
<button (click)="howmany('Marathon')"> How Many? </button>

<h2>Half Marathons</h2>
<table border=1>
<TR style='font-weight: bold' >
  <TD >Race Name</TD>
  <TD>PR Time</TD>
  <TD style="align:center">Times Ran</TD>
  <TD style="align:left">Comment</TD>
</TR> 
<ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.racetype=='Half Marathon'"> 
<TR>
  <TD>{{ race.name}} {{ race.racetype }}  </TD>
  <TD>{{ race.PR }}</TD>
  <TD align="center">{{ race.count }} </TD>
  <TD align="center">{{ race.comment }} </TD>
</TR>
</ng-container>
</ng-container>
</table>
<button (click)="howmany('Half Marathon')"> How Many? </button>


